

.login_content{
    // width:600px;
    // height:400px;
    // position: absolute;
    // top:0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin: auto;

    width: 400px; 
    padding:50px;
    position: absolute; 
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);

    // background-color: #2196f3;
    border:1px solid #888;
    border-radius: 10px;
}

